<div class="card flex-row flex-wrap">
	<div class="card-header border-0 col-md-4">
		<img src="<%= $images_url + @movie.poster_path %>" class="movie-poster">
		<h1 class="average-rating text-dark"><%= print_average_rating(@movie) %></h1>
	</div>
	<div class="card-block px-2 col-md-8">
		<!-- Title -->
		<h4 class="card-title"><%= @movie.title %></h4>
		<!-- Info -->
		<p class="card-text">
			<b>Release Date</b>: <%= format_date(@movie.release_date) %>
			<br>
			<b>Genres</b>:
			<% @movie.genres.each do |genre| %>
				<a class="badge badge-warning"><%= genre.name %></a>
			<% end %>
		</p>
		
		<!-- Print all reviews for movie -->
		<% @movie.reviews.each do |review| %>
			<p>
				<%= print_rating(review.rating) %>
				&nbsp;&nbsp;&nbsp;&nbsp;
				"<%= review.comment %>" - <b><%= review.email %></b>
			</p>
		<% end %>

		<!-- Show there are no reviews if there aren't any -->
		<% if @movie.reviews.length == 0 %>
			<p>There are currently no ratings for <b><%= @movie.title %></b> on MovieGuru. Be the first to add one by clicking below!</p>
		<% end %>
		<%= link_to 'Leave a Review', new_review_path(@movie.id), class: "btn btn-warning" %>
	</div>
</div>